.inner{
    padding: 10px;
    box-shadow: 0 0 30px 1px black;
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px 5px 5px black;
}
img{
    width: 100%;
}
#demo{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    background-image: linear-gradient(to Left , red,purple,skyblue);
    color: transparent;
    background-clip: text;  
}